@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white: #fff;
  --grey: rgb(60, 72, 88);
  --primary: "Roboto", sans-serif;
  --h2heading-font: 45px;
  --h3heading-font: 25px;
  --h4heading-font: 20px;
  --small-font: 2em;
  --center: center;
  --space15: 15vh;
  --space10: 10vh;
  --space5: 5vh;
  --space2: 2vh;
}

img {
  width: 100%;
  height: auto;
}

header {
  color: #fff !important;
}

.mapboxgl-ctrl-group {
  float: left;
  margin: 50px;
  padding: 10px;
}
/* .mapboxgl-marker {
  color: #fff;
  background-color: #1978c8;
  border-radius: 50%;
  padding: 4px 6px;
} */
.mapboxgl-user-location-dot {
  padding: 0;
}

.slidercontainer {
  background-image: url("../assets/DHI-bg.jpg");
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 80vh;
  max-height: 1000px;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
.SliderHeading {
  width: 70%;
  position: relative;
  top: 30%;
}
.contentcontainer {
  margin: -60px 3vw 0vw !important;
  padding: 5vh 1vw 3vw;
  border-radius: 6px;
  z-index: 0;
  position: relative;
  background: #fff;
}

h2 {
  font-family: var(--primary);
  font-size: var(--h2heading-font);
  color: var(--grey);
  font-weight: 300;
  text-align: var(--center);
  margin-bottom: var(--space10);
}
h3 {
  font-family: var(--primary);
  font-size: var(--h3heading-font);
  color: var(--grey);
  font-weight: 300;
  margin-top: var(--space10);
}

.routerlinks a:link,
.routerlinks a:visited {
  padding: 1.1em 3em;
  line-height: 3.5em;
  text-decoration: none;
  color: var(--grey);
  border: 1px solid rgb(00, 00, 00, 0.2);
}
.routerlinks a:active,
.routerlinks a:hover {
  color: var(--white);
  background-color: var(--grey);
}

.routercontainer {
  border: 1px solid rgb(00, 00, 00, 0.2);
  padding: 1.5vw;
}
.recharts-wrapper,
.recharts-legend-wrapper {
  width: 100% !important;
  margin: 0px;
}

.timemap {
  max-height: 50vh;
  overflow: hidden;
}

.showcoordinates {
  max-height: 30vh;
  overflow-y: scroll;
}

.showcoordinates a:link,
.showcoordinates a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--grey);
  border: 1px solid rgb(00, 00, 00, 0.2);
  padding: 12px 20px;
  margin: 2px;
  background-color: var(--white);
  line-height: 1em;
  font-size: 13px;
}

.showcoordinates a:active,
.showcoordinates a:hover {
  background-color: var(--grey);
  color: var(--white);
}
.showcoordinates a span {
  width: 12px;
  overflow-x: hidden;
  display: inline-block;
  line-height: 1em;
}

.recharts-surface {
  width: 100% !important;
}

.timecordinates {
  text-align: center;
  margin: 28px 0px 6px;
}
.carousel .slide {
  background-color: transparent !important;
}

.mapboxgl-popup-content h3{
margin-top: var(--space2);
}