# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/src/testsrc
/src/testsrc/cities
/src/containers/cities
/src/containers/city-info++
/src/containers/control-panel
/src/containers/Home-old
/src/containers/pins++
/src/containers/spaceold
/src/containers/time+