.mapboxgl-ctrl-group {
  float: left;
  margin: 50px;
  padding: 10px;
}
.mapboxgl-marker {
  color: #fff;
  background-color: #1978c8;
  border-radius: 50%;
  padding: 4px 6px;
}
.mapboxgl-user-location-dot {
  padding: 0;
}